<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570223359303-l9nhjubmsptoi7u5ad9ipc9qe928fmkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570223359303-l9nhjubmsptoi7u5ad9ipc9qe928fmkb</string>
	<key>API_KEY</key>
	<string>AIzaSyD964Ou5Xg4aUuh9J0U6-FUP0nsfEzcnkg</string>
	<key>GCM_SENDER_ID</key>
	<string>570223359303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pankaj.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>pktwitterclone</string>
	<key>STORAGE_BUCKET</key>
	<string>pktwitterclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570223359303:ios:543d1f86b687fb1a998862</string>
</dict>
</plist>